@use '@styles/abstracts/variables' as *;
@use 'sass:color';

.button {
  background-color: $primary;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s;

  &:hover {
    background-color: color.adjust($primary, $lightness: 6%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: color.adjust($primary, $lightness: -6%);
    transform: translateY(1px);
  }
}
