@use '@styles/abstracts/variables' as *;

.button {
  background-color: $primary;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: lighten($primary, 6%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: darken($primary, 6%);
    transform: translateY(1px);
  }
}
